.card-members {
  display: flex;
  flex-direction: column;
  background-color: #d0cde2;
  width: 350px;
  border-radius: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card-members:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container-members {
  flex-wrap: wrap;
}

.btn_delete-members {
  border: none;
  border-radius: 15rem;
  background-color: #d1515a;
  color: #5e0404;
  width: 80%;
  align-self: center;
}

.btn_delete-members:hover {
  background-color: #5e0404;
  color: #d1515a;
}